$bootstrap-info-color: #5bc0de;

.post_form {
  max-width: 333px;
  margin: 120px auto;
  padding: 0 20px;

  form {
    display: flex;
    flex-direction: column;

    input:first-child {
      margin-bottom: 5px;
    }

    input {
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #777;
      transition: 0.15s ease-in-out all;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 5px $bootstrap-info-color;
      border: 1px solid $bootstrap-info-color;
    }

    button {
      font-size: 18px;
      margin-top: 10px;
      width: 50%;
      align-self: center;
      border: none;
      border-radius: 5px;
      background-color: $bootstrap-info-color;
      color: white;
      padding: 5px;
      transition: 0.15s ease-in-out all;

      &:hover {
        background-color: darken($bootstrap-info-color, 10%);
      }
    }

    button:disabled {
      background-color: lighten($bootstrap-info-color, 20%);
    }
  }

  @media only screen and (max-width: 420px) {
    form {
      input {
        font-size: 15px;
        padding: 7px;
      }

      button {
        font-size: 15px;
        margin-top: 7px;
      }
    }
  }
}